	@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');
	*{
		margin: 0;
		padding: 0;
	}

	html,body{
		font-family: inherit;
		font-family: 'Nunito', sans-serif;
		text-align: center;
		width: 90%;
		margin: auto;
	}

	nav ul {
		list-style-type: none;
		padding: 0;
	}

	a{
		text-decoration: none;
		color: #000000;
		padding: 15px;
		font-weight: bold;
	}

	input{
		font-family: 'Nunito', sans-serif;
	}
	button{
		border: 0;
		padding: 10px 15px;
		outline: none;	
		cursor: pointer;
		color: 	#000000;
		font-weight: bold;
		background-color: #D35400;
		font-family: 'Nunito', sans-serif;
	}
	i{
		font-size: 40px;
		color: #D35400;
	}

	button:hover{
		opacity: 0.7;
	}
	a:hover{
		color: #D35400;
	}

	.container{
		width: 80%;
		margin: auto;
	}

	header {
		min-height: 100px;
	}
	header #head{
		position: fixed;
		right: 100px;
		min-height: 75px;
		background: #ffffff;
		width: 100%;
	}
	header ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		margin: 30px 0px;
	}
	main input{
		padding:  5px 100px 5px 0px;
		margin: 20px 0px;
	}

	#section-a{
		text-align: left;
		margin-top: 100px;
	}
	#section-a > div{
		margin: 0px 0px 50px 0px;	
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	#section-a .box{
		grid-column: 2 /span 6;
	}

	#section-b{
		margin:80px 0px;
	}

	#section-c{
		display: flex;
		justify-content: flex-start;
		grid-gap: 10px;
	}

	#section-c  div{
		border: 1px solid #000;
		width: 100%;
	}
	#section-c div p{
		margin:10px 0px;
	}
	#section-c h3{
		min-height: 50px;
		line-height: 50px;
		background: #ccc;
	}
	#section-c h1, #section-c p{
		padding: 10px 30px; 
	}
	#section-c button{
		margin-bottom: 20px;
	}

	footer{
		margin-top: 30px;
		text-align: right;
	}
	footer .container{
		padding: 15px 0px;
		background: #ccc;
	}
	footer ul{
		display: flex;
		justify-content: flex-end;
	}

	@media only screen and (max-width: 613px) {
		html,body{
			width: 100%;
		}
		.container{
			width: 100;
		}
		header #head{
			right: 1%;
		}
		header ul{
			flex-direction: column;
		}
		#section-a,footer {
			text-align: center;
		}
		#section-a i{
			display: none;
		}

		#section-a .box{
			grid-column: 1/span 6;
		}
		#section-c {
			flex-direction: column;
		}

	}
