@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');

*{
	margin: 0;
	padding: 0;
}

html,body{
	font-family: inherit;
	font-size: 15px;
	font-family: inherit;
	font-family: 'Nunito', sans-serif;
}
.container .ful1,.container .ful2,
.container .ful3,main .full
{
	display: flex;
	align-items: center;
	background-position: center;
	flex-wrap: wrap;
	justify-content: space-around;
	background-attachment: fixed;
	background-size: cover;
}
main{
	line-height: 1.8;
}
main .full{
	background-image: url(../img/jared-murray-NSuufgf-BME-unsplash.jpg);
	min-height: 680px;
}
main .full p,.full h1{
	text-shadow: 0px 0px 3px rgb(234, 237, 237),-0px -0px 1px rgb(234, 237, 237 );
	color: #ffffff;
	background: #000000;
	padding: 1px 20px;
	text-transform: uppercase;
	box-shadow: 0px 0px 10px rgb(0,0,0,100),-0px -0px 10px rgb(0,0,0,100);
	font-size: 16px;

}
.ful1,.ful2,.ful3{
	min-height: 350px;
}

.container h1{
	color: #ffffff;
	text-transform: uppercase;
}

.container .first-section{
	background-color: #ffffff;
	color: #000000;
}
.container section{
	background-color: #17202A;
	color: #ffffff;
}
.container section p{
	padding: 0px 60px 60px 60px;
}
.container section h3{
	padding-top: 20px;
	text-align: center;
	text-transform: uppercase;
}
.container .ful1{
	background-image: url(../img/alex-radelich-XVUQfCkcaUg-unsplash.jpg);
}

.container .ful2{
	background-image: url(../img/fahrul-azmi-lNpkIWnFzTo-unsplash.jpg);
}
.container .ful3{
	background-image: url(../img/john-arano-LzxsSWAVMYs-unsplash.jpg);
}


@media only screen and (max-width: 425px)
{
	main{
		line-height: 1.3;
	}
	.container h3{
		padding: 10px;
	}
}