@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');
*{
	margin: 0;
	padding: 0;
}

html,body{
	font-family: inherit;
	font-family: 'Nunito', sans-serif;
	background-color: #3498DB;
}

.container ul{
	margin: 10px 0px 0px 10px;
	padding: 0;
	list-style-type: none;
}

.container{
	margin: auto;
	width: 70%;
	text-transform: capitalize;
}

.container .branch h1{
	padding: 15px 0px;
}

.container .highlight{
	color: #ffffff;
}

.wrapper{
	display: flex;
	background-color: #ffffff;
}

.wrapper .contact{
	width: 35%;
	background-color: lightblue; 
}
.wrapper .about{
	padding: 15px;
}
.wrapper .form-contact{
	padding: 30px;
	width: 85%;
}

.wrapper form{
	display: grid;
	grid-row: 5px;
	grid-template-columns: 1fr 1fr;
}
.wrapper label{
	display: block;
}

.wrapper input{
	width: 95%;
	min-height: 25px;
}

.wrapper .full{
	grid-column: 1/ span 2;
}
.wrapper textarea,.wrapper .button-1{
	width: 100%;
}
.wrapper .button-1{
	padding: 3px;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
	border: 0;
	background: #cccccc;
	outline: none;
}

.wrapper .button-1:hover{
	background: lightblue;
}

@media only screen and (max-width: 768px)
{
	.container{
		width: 90%;
	}
	
	.wrapper{
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.wrapper .contact,.container .branch h1{
		width: 100%;
		text-align: center;
	}
}
