@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');
*{
	margin: 0;
	padding: 0;
}

html,body{
	font-family: inherit;
	font-size: 15px;
	font-family: 'Nunito', sans-serif;
}

main{
	width: 100%;
	text-align:center;
	color: #D35400;
}
#intro-services{
	background-image: url(../img/beach.jpg);
	background-size: cover;
	background-position: center;
	min-height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
} 
#intro-services h1{
	font-size: 35px;
}
#intro-services .button-header{
	border-radius: 5px;
	padding: 10px;
	border:0;
	margin-top: 15px;
	outline:none;
	background: #ccc;
	font-family: 'Nunito', sans-serif;
}
#intro-services .button-header:hover{
	cursor: pointer;
	background:#D35400;
}
.container{
	width: 90%;
}